@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-text-body font-sans;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  @apply bg-dark-bg;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-text-heading font-bold;
}
